
Temp/*

.vs/TobiiTest/v15/Server/sqlite3/storage.ide
.vs/TobiiTest/v15/Server/sqlite3/storage.ide-wal
Assets/Scenes/StartScene.unity
Assets/Script/PanelManager.cs
Library/ArtifactDB
Library/Artifacts/04/04cfa34de38c74d3584660460af1676f
Library/Artifacts/1d/1d5ed9d81e57b6a063d28edef8a700fd
Library/Artifacts/1e/1ea58baa01f0caa29ad9c13122b86b1d
Library/Artifacts/25/25938b1b6c3e5a03ed01ab6da99d87d3
Library/Artifacts/2a/2aeb090f9389c114d9f47daaa36d7def
Library/Artifacts/30/30fbcd8957db980a15c4dc3c5d6bc375
Library/Artifacts/46/4692e35dc68a4fa3c7e34a13e823bbe7
Library/Artifacts/46/46b6ce0667480b28aeb5e0878c17cc1c
Library/Artifacts/4d/4d33cac5bd695c627739744f0e33caa1
Library/Artifacts/5a/5a0a9fc367850b5293c0d4d63f8f8d9b
Library/Artifacts/5b/5b2d4d6e7743502fc8744b494c1f8b07
Library/Artifacts/67/67b7da5836822ebf662bc1accd7fa5c3
Library/Artifacts/74/7491dd7369e5d548acadf259a325cb2a
Library/Artifacts/74/74c388718b260fd0fd978dc665e8eeaa
Library/Artifacts/7c/7c465a22f1d0131c1cf1a1da7269b24f
Library/Artifacts/85/85229ac6f2b2e062b0241fc7d1a7e966
Library/Artifacts/8a/8af05dbb3dd3ba497a5a8986eefe613f
Library/Artifacts/8d/8d920f472f43e1a96129bbca916af047
Library/Artifacts/9a/9aa373fa712b0c5560b6c9a84ae57cd0
Library/Artifacts/9c/9ce3933e242fd8f151f8df60825025ba
Library/Artifacts/9e/9e72ec0c6ecdc3e18fc6f20c49985137
Library/Artifacts/aa/aa1aadd061f765fb8577e66eda9abb60
Library/Artifacts/b0/b09588f019d74b4b8429a15929d11026
Library/Artifacts/b4/b4fb325f9a54ae49734b9312bfc83b3d
Library/Artifacts/c3/c3b9b8cffe9f58e36bced5a6646b9b01
Library/Artifacts/ca/cafe8b25a757cf1850626e65e8db7eb1
Library/Artifacts/cc/cc5ad36d053ce0b58d1a7408c4c557d9
Library/Artifacts/d2/d2470b5b18a0e770831859b5f818eeed
Library/Artifacts/de/deb197f8b29c4a6262d91115c2c91907
Library/Artifacts/f2/f2cbfc3922ce078c7d1479c8495cffcf
Library/Artifacts/f8/f841fd3ccf9c8eda7ebbea1a0d16aa2c
Library/Artifacts/fd/fd4e37365ce00f9eaa445c276775ca04
Library/CurrentLayout-default.dwlt
Library/EditorInstance.json
Library/LastSceneManagerSetup.txt
Library/SceneVisibilityState.asset
Library/ScriptAssemblies/Assembly-CSharp-Editor.dll
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.pdb
Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/shadercompiler-UnityShaderCompiler.exe1.log
Library/shadercompiler-UnityShaderCompiler.exe2.log
Library/shadercompiler-UnityShaderCompiler.exe3.log
Library/shadercompiler-UnityShaderCompiler.exe4.log
Library/shadercompiler-UnityShaderCompiler.exe5.log
Library/shadercompiler-UnityShaderCompiler.exe6.log
Library/shadercompiler-UnityShaderCompiler.exe7.log
Library/SourceAssetDB
Library/StateCache/Hierarchy/d50471-mainStage.json
Library/StateCache/SceneView/52f052-mainStage.json
ProjectSettings/TagManager.asset
